@import "mixins.scss";
@import "variables.scss";

body {
  background-color:	$primary-color;
  font-family: 'Merriweather', serif;
  margin:0;
}

header {
  border-bottom: $borderBottom;
  width:100%;
  background-color: $primary-color;
    .headerImage{
      padding: 0;
      width:50%;
      @include centerBlock;
    }
}

.sales{
  display: flex;
  justify-content: center;
  margin: 5% 0;
}
    h3 {
      color: 	$secondary-color;
      font-weight: bold;
      font-size: 40px;
      text-transform: uppercase;
      margin: 0 10px;
    }
    .plusBtn {
      @include button(40px, $height);
        &:hover{
          background-color:$fourth-color;
        }
    }

table{
  width: 90%;
  @include center;
    td{
      background-color: $third-color;
      border: $border;
      color:	$secondary-color;
      margin-top:70px;
      height: $height;
    }
    th{
      padding: 8px;
      text-align: center;
      background-color: $third-color;
      border: $border;
      color:	$secondary-color;
    }
}

.flower{
  margin-top:30px;
  @include centerBlock;    
}

.report{
    .reportTitle{
      color:	$secondary-color;
      margin-top: 40px;
      text-align: center;
      font-weight:bold;
      font-size: 30px;
      text-transform: uppercase;
    }
    .reportText{
      background-color: $third-color;
      width: 90%;
      height: 200px;
      margin: auto;
      margin-bottom: 40px;
      border: 1px solid $secondary-color;
    }
}

.footer{
  border-top: $borderTop;
  background-color: $fourth-color;
  margin: auto;
    .footerImage{
      position: relative;
      padding: 0;
      @include centerBlock;
    }
}
