$primary-color: #F8EFEA;
$secondary-color:#B2976C;
$third-color: rgb(240, 231, 226);
$forth-color:#C8DFE5;
$border: 1px solid $secondary-color;
$borderTop:solid 1px $secondary-color;
$borderBottom: solid 1px	$secondary-color;
$height: 40px;

